<main class="main-content">

    <h1 class="main-title"> Placement<br>Tracker</h1>

    <p class="main-description">
        One-stop platform to track all placement-related information of Students, 
        abc Collage, Kerala. Register to get started. Sign In to 
        access your dashboard if you are already registered.
    </p>
    {% if user.is_authenticated %}

    <div class="action-buttons">
            <a style="text-decoration: none;" href="{% url 'signout' %}">
                <button class="btn btn-primary">
                    <span>→</span>
                    <span>Sign Out</span>
                </button>
            </a>

            <a style="text-decoration: none;" href="{% url 'student_registration' %}">
                <button class="btn btn-primary">
                    <span>→</span>
                    <span>Registration</span>
                </button>
            </a>
    </div>

    {% else %}
        <div class="action-buttons">
            <a style="text-decoration: none;" href="{% url 'signin' %}">
                <button class="btn btn-primary">
                    <span>→</span>
                    <span>Sign In</span>
                </button>
            </a>

            <a style="text-decoration: none;" href="{% url 'signup' %}">
                <button class="btn btn-secondary">
                    <span>→</span>
                    <span>Sign-Up</span>
                </button>
            </a>
        </div>
    {% endif %}
</main>
